body {
  font-family: Arial, sans-serif;
  background-color: #3b3a3a;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #776f6f;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

input {
  flex: 2;
  padding: 10px;
}

select {
  flex: 1;
  padding: 10px;
}

button {
  background-color: #2d313a59;
  color: #fcfcfc;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 250ms;
}

button:hover {
  background-color: #7d8d9e;
}

#result {
  font-size: 20px;
  font-weight: bold;
  color: #242527;
}
